<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.synchro">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="Manifest.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <application
        android:name=".activity.GlobalApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="false"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Synchro"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.MarkerShapeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MarkerColorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MarkerSizeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.IndoorOutdoorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.UnitsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SelectedTargetSwitching"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TargetSwitchingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ZeroingSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReactionSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FreeStyleSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChnageNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SoftwareVersionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LogsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>